@charset "UTF-8";
@font-face {
  font-family: "Commissioner";
  src: url("../public/fonts/Commissioner-Light.woff2") format("woff2"), url("../public/fonts/Commissioner-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../public/fonts/Commissioner-SemiBold.woff2") format("woff2"), url("../public/fonts/Commissioner-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../public/fonts/Commissioner-Medium.woff2") format("woff2"), url("../public/fonts/Commissioner-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../public/fonts/Commissioner-Regular.woff2") format("woff2"), url("../public/fonts/Commissioner-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("../public/fonts/Commissioner-Bold.woff2") format("woff2"), url("../public/fonts/Commissioner-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --accent: #FAE01A;
  --aqua:#018FA3;
  --ametist:#955EEA;
  --green:#4ECA30;
  --btnHover: #018FA3;
  --btnActive: #018FA3;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Commissioner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 24px;
  line-height: 1.3;
  color: #000;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

p {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1294px;
  padding: 0 15px;
  margin: 0 auto;
}

.firstscreen {
  background: url("../public/img/first-screen-right-bg.webp") bottom right no-repeat;
  background-size: contain;
  height: 100vh;
}
@media (max-width: 1022px) {
  .firstscreen {
    background-image: none;
  }
}
@media (max-width: 470px) {
  .firstscreen {
    height: auto;
  }
}

.burger-block {
  display: none;
  margin-left: auto;
  aspect-ratio: 1/1;
  width: 34px;
  height: 34px;
  border-radius: 20%;
  background-color: #018FA3;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .burger-block {
    display: block;
  }
}

.header__burger {
  display: none;
  position: relative;
  width: 20px;
  height: 12px;
  position: relative;
  z-index: 3;
  margin-top: 7px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
  }
}

.header__burger span {
  position: absolute;
  background-color: #000;
  position: absolute;
  left: 7px;
  width: 100%;
  height: 1.6px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 1.46px;
  left: 7px;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 3px;
}

.header__burger:after {
  bottom: -5px;
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 2px;
}

.header__menu {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  max-width: 300px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: -350px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #c1c1c1;
  transition: all 0.7s;
}

.header__menu.active {
  top: 10px;
}

.header__list {
  display: block;
}

.header__list li {
  margin: 0px 0px 20px 0px;
}

.burger__link {
  font-size: em(24);
  color: #313131;
  font-weight: 700;
}

.header {
  position: relative;
  padding-top: 20px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-block--mobile {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header-block--mobile {
    width: 200px;
    flex-direction: column;
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px 15px;
    z-index: 99;
    transition: all 0.4s ease-in;
  }
  .header-block--mobile.active {
    top: 30px;
  }
}
.header-logo {
  display: block;
  width: 102px;
  height: 88px;
}
.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-menu {
  margin-left: 100px;
}
@media (max-width: 940px) {
  .header-menu {
    margin-left: auto;
  }
}
@media (max-width: 767.98px) {
  .header-menu {
    margin-left: 0;
  }
}
.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-contacts span {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .header-contacts {
    width: 160px;
    margin-left: 0;
    margin-top: 20px;
  }
  .header-contacts span {
    font-size: 16px;
  }
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 940px) {
  .menu-list {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.menu-list li {
  display: flex;
  align-items: center;
}
.menu-list li a {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.info {
  height: 100%;
}
@media (max-width: 470px) {
  .info {
    height: auto;
  }
}
.info-container {
  display: flex;
  align-items: center;
  background: url("../public/img/left-bg.webp") left center no-repeat;
  background-size: contain;
  height: 100%;
}
@media (max-width: 1022px) {
  .info-container {
    background: url("../public/img/firstscreen-bg.webp") center center no-repeat;
    background-size: contain;
  }
}
@media (max-width: 470px) {
  .info-container {
    height: auto;
    padding-top: 30px;
  }
}
.info-content {
  width: 60%;
}
@media (max-width: 1022px) {
  .info-content {
    width: 100%;
  }
}

.content-title {
  font-size: 48px;
  font-weight: 600;
}
.content-title span {
  color: var(--aqua);
}
@media (max-width: 470px) {
  .content-title {
    font-size: 32px;
  }
}
.content-subtitle {
  max-width: 532px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 44px;
}
@media (max-width: 1022px) {
  .content-subtitle {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 470px) {
  .content-subtitle {
    font-size: 20px;
  }
}
.content-btn {
  margin-top: 44px;
}
@media (max-width: 1022px) {
  .content {
    text-align: center;
  }
}

.btn {
  width: 244px;
  height: 64px;
  border-radius: 30px;
  background: #FAE01A;
  box-shadow: 3px 8px 24px 2px rgb(250, 224, 26);
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

/*Сброс стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
}

img {
  outline: 0;
  border: 0;
}

.about {
  margin-top: 150px;
}
@media (max-width: 470px) {
  .about {
    margin-top: 50px;
  }
}
.about-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 570px) {
  .about-item {
    flex-direction: column;
  }
}

.item-content {
  flex-basis: 45%;
}
@media (max-width: 1023px) {
  .item-content {
    flex-basis: 48%;
  }
}
.item-content p {
  width: 459px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
}
@media (max-width: 1070px) {
  .item-content p {
    width: 100%;
    font-size: 20px;
  }
}
@media (max-width: 670px) {
  .item-content p {
    font-size: 16px;
  }
}
.item-content--right {
  position: relative;
  z-index: 1;
}
@media (max-width: 1155px) {
  .item-content--right {
    border: 15px solid #FFF7BE;
    background: #FFF7BE;
    border-radius: 30px;
  }
}
@media (max-width: 570px) {
  .item-content--right {
    order: 3;
  }
}
.item-content--right .item-bg {
  position: absolute;
  top: -24px;
  left: 30px;
  width: 547px;
  height: 256px;
  background: url("../public/img/about-bg-2.png") center center no-repeat;
  background-size: contain;
  z-index: -1;
}
@media (max-width: 1155px) {
  .item-content--right .item-bg {
    display: none;
  }
}
.item-content--left {
  position: relative;
  justify-self: end;
  z-index: 1;
}
@media (max-width: 1155px) {
  .item-content--left {
    border: 15px solid #FFF7BE;
    background: #FFF7BE;
    border-radius: 30px;
  }
}
@media (max-width: 570px) {
  .item-content--left {
    order: 1;
  }
}
.item-content--left .item-bg {
  position: absolute;
  top: -64px;
  left: -64px;
  width: 547px;
  height: 256px;
  background: url("../public/img/about-bg-1.png") center center no-repeat;
  background-size: contain;
  z-index: -1;
}
@media (max-width: 1155px) {
  .item-content--left .item-bg {
    display: none;
  }
}
.item-image {
  flex-basis: 45%;
  position: relative;
}
@media (max-width: 1023px) {
  .item-image {
    flex-basis: 48%;
  }
}
.item-image img {
  width: 488px;
  height: 343px;
}
@media (max-width: 1023px) {
  .item-image img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: 4px dashed #018FA3;
  }
}
@media (max-width: 570px) {
  .item .item-image--right {
    order: 2;
  }
}
.item .item-image--right img {
  margin-left: auto;
}
@media (max-width: 1070px) {
  .item .item-image--right img {
    margin: 0 auto;
  }
}
@media (max-width: 570px) {
  .item .item-image--left {
    order: 4;
  }
}
.item .item-border--left {
  position: absolute;
  background: url("../public/img/about-image-border.webp") center center no-repeat;
  width: 488px;
  height: 343px;
  top: 32px;
  left: -32px;
  z-index: -1;
}
@media (max-width: 1355px) {
  .item .item-border--left {
    left: 32px;
  }
}
@media (max-width: 1070px) {
  .item .item-border--left {
    left: 5px;
  }
}
@media (max-width: 1023px) {
  .item .item-border--left {
    display: none;
  }
}
.item .item-border--right {
  position: absolute;
  background: url("../public/img/about-image-border.webp");
  width: 488px;
  height: 343px;
  top: 32px;
  right: -32px;
  z-index: -1;
}
@media (max-width: 1355px) {
  .item .item-border--right {
    right: 32px;
  }
}
@media (max-width: 1070px) {
  .item .item-border--right {
    right: 5px;
  }
}
@media (max-width: 1023px) {
  .item .item-border--right {
    display: none;
  }
}

.learning {
  width: 996px;
  height: 719px;
  margin: 200px auto 0 auto;
  position: relative;
}
@media (max-width: 1207px) {
  .learning {
    margin-top: 50px;
    transform: scale(0.7);
    width: 100%;
  }
}
@media (max-width: 699px) {
  .learning {
    margin-top: 0px;
    transform: scale(0.4);
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 420px) {
  .learning {
    transform: scale(0.3);
    margin-top: -50px;
  }
}

.learning-teacher {
  padding-top: 150px;
  width: 403px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learning-teacher img {
  width: 323px;
  height: 321px;
  margin: 0 auto;
}
.learning-teacher p {
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-top: 16px;
  color: #000000;
}

.learning-subjects {
  position: absolute;
  left: 50%;
  width: 140px;
  height: 182px;
  top: 290px;
  margin-left: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  -webkit-animation: spin 28s infinite linear;
  animation: spin 28s infinite linear;
  transform: scale(1);
  transition: 0.5s;
  z-index: 600;
}
.learning-subjects p {
  margin-top: 5px;
  text-align: center;
}

.learning-subjects:nth-child(2) {
  -webkit-animation: spin 28s infinite linear 4s;
  animation: spin 28s infinite linear 4s;
}

.learning-subjects:nth-child(3) {
  -webkit-animation: spin 28s infinite linear 8s;
  animation: spin 28s infinite linear 8s;
}

.learning-subjects:nth-child(4) {
  -webkit-animation: spin 28s infinite linear 12s;
  animation: spin 28s infinite linear 12s;
}

.learning-subjects:nth-child(5) {
  -webkit-animation: spin 28s infinite linear 16s;
  animation: spin 28s infinite linear 16s;
}

.learning-subjects:nth-child(6) {
  -webkit-animation: spin 28s infinite linear 20s;
  animation: spin 28s infinite linear 20s;
}

.learning-subjects:nth-child(7) {
  -webkit-animation: spin 28s infinite linear 24s;
  animation: spin 28s infinite linear 24s;
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0turn) translateY(-500px) translateY(50%) rotate(1turn);
  }
  100% {
    opacity: 1;
    transform: rotate(1turn) translateY(-500px) translateY(50%) rotate(0turn);
  }
}/*# sourceMappingURL=style.css.map */