.catalog {
  margin-top: 200px;
  padding: 68px 0 80px 0;
  background-color: #F6FAFF;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: #000;
  text-align:center;
}