:root{
  --accent: #FAE01A;
  --aqua:#018FA3;
  --ametist:#955EEA;
  --green:#4ECA30;
  --btnHover: #018FA3;
  --btnActive: #018FA3;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
html {
  position: relative;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Commissioner', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 24px;
  line-height: 1.3;
  color: #000;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  max-height: 100%;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}
p{
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
}
iframe {
  border: none;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.container {
  max-width: 1294px;
  padding: 0 15px;
  margin: 0 auto;
}
