.header {
  padding-top: 20px;
	

  &-container {
    display: flex;
    align-items: center;

  }

  &-logo {
    display: block;
    width: 102px;
    height: 88px;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-menu {
    margin-left: 100px;
  }

  &-contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
		gap: 8px;

    span {
      font-size: 18px;
      font-weight: 600;
      white-space: nowrap;
    }

  }
}

.menu {

  &-list {
    display: flex;
    align-items: center;
    gap: 40px;

    li {
      a {
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }
}