@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Light.woff2') format('woff2'),
        url('Commissioner-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-SemiBold.woff2') format('woff2'),
        url('Commissioner-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Medium.woff2') format('woff2'),
        url('Commissioner-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Regular.woff2') format('woff2'),
        url('Commissioner-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Bold.woff2') format('woff2'),
        url('Commissioner-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

