@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Light.woff2') format('woff2'),
      url('../fonts/Commissioner-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-SemiBold.woff2') format('woff2'),
      url('../fonts/Commissioner-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Medium.woff2') format('woff2'),
      url('../fonts/Commissioner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Regular.woff2') format('woff2'),
      url('../fonts/Commissioner-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../fonts/Commissioner-Bold.woff2') format('woff2'),
      url('../fonts/Commissioner-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

